[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
mypy = "*"
faker = "*"

[packages]
cx-oracle = "*"

[requires]
python_version = "3.7"
