[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
mypy = "*"
pytest-cov = "*"
pytest-icdiff = "*"
pytest-integration = "*"
twine = "*"
rope = "*"
tox = "*"

[packages]

[requires]
python_version = "3.7"
